# Created by .ignore support plugin (hsz.mobi)
### Scala template
/.idea
/.bsp
*.class
*.log
/project/target/
/project/project/
/target/
/results/
.DS_Store

### Metals / Bloop
.mcp.json
/.metals/
/.bloop/
/project/metals.sbt
/project/.bloop/